<section id="gallery_barajeux" class="site-gallery">
  <div class="container">

    <div class="gallery-image">
      <div class="img-box">
        <img src="../images/photos/barajeux/1.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Le bar à jeux</p>
            <p class="opacity-low">La première salle</p>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="../images/photos/barajeux/2.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Le bar à jeux</p>
            <p class="opacity-low">Et les délicieux cookies</p>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="../images/photos/barajeux/3.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>Le bar à jeux</p>
            <p class="opacity-low">Le sous-sol</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
