{{ with .Site.Data.rappel_coordonnees }}
  {{ if .enable }}
  <section class="site-counter" id="counter">
    <div class="container">
      <div class="row">

        {{ range .counter_item }}
        <div class="col-lg-3 col-md-6 col-rappel">
          <div class="site-counter-item">
            <span class="site-rappelco-item-title">{{ .title }}</span>
            <h3 class="site-rappelco-item-number">{{ .number | safeHTML }}</h3>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
