{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
          <form id="contact-form" action="{{ .Site.Params.formspreeFormUrl }}" method="POST">
            <div class="row">
              <div class="col-lg-6">
                <input required type="text" class="form-control" name="name" id="name" placeholder="Nom / Prénom">
              </div>
              <div class="col-lg-6">
                <input required type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" class="form-control" name="telephone" id="telephone" placeholder="Numéro de téléphone">
              </div>
              <div class="col-lg-6">
                <input required type="email" class="form-control" name="email" id="email" placeholder="Email">
              </div>
              <div class="col-lg-6">
                <div class="select-wrapper">
                  <select required class="form-control" id="projectType" name="project-type">
                    <option value="" selected disabled hidden>Sujet</option>
                    <option value="reserver_table">Réserver une table</option>
                    <option value="reserver_jeu">Réserver ou pré-commander un jeu</option>
                    <option value="Privatisation">Privatisation du bar à jeux</option>
                    <option value="livraison">Livraison à domicile (#confinement2)</option>
                    <option value="autre_chose">Autre chose !</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <textarea required class="form-control" id="aboutProject" name="about-project" rows="6" placeholder="Votre question"></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" id="contact-form-button">
                  <span class="btn-area">
                    <span data-text="Envoyer votre message">
                      Envoyer votre message
                    </span>
                  </span>
                </button>
              </div>

              <p id="contact-form-status"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
