<section id="gallery" class="site-gallery">
  <div class="container">


    <div class="gallery-image">
      <div class="img-box">
        <img src="../images/photos/boutique/1.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>La boutique</p>
            <p class="opacity-low">Héloïse vous attend</p>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="../images/photos/boutique/2.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>La boutique</p>
            <p class="opacity-low">Toutes les nouveautés et les grands classiques !</p>
          </div>
        </div>
      </div>
      <div class="img-box">
        <img src="../images/photos/boutique/3.jpg" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p>La boutique</p>
            <p class="opacity-low">Toutes les nouveautés et les grands classiques !</p>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>
